.profile{
  /* margin: auto; */
  text-align: center;
}
.profile_img{
   /* @apply rounded-full; */
   border-radius: 50%;
   /* height: 50%; */
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom : 8px;
  }

.profile_title{
    font-weight: 700;
    font-size: 24px;

  }

.profile_bio{
  color : #656D78; 
  text-align: left;
  margin: auto;
  display: inline-block;
}

